body{
  margin: 0;
  display: grid;
}

#desktop{
  display: grid;
  grid-template-columns: 20vw 80vw;
  grid-template-rows:  10vh 110vh 150vh 20vh;
  background-color: #badbba;
}

#header{
  border: 1px solid;
  grid-column: 1 / span 2;
  background-color: #006302b9;
}

#photo{
  grid-column: 1 / span 2;
  border: 1px solid;
  background-image: url(plantafoda.PNG);
  background-clip: border-box;
  background-repeat: no-repeat;
  background-position: center;
}

#nav{
  border: 1px solid;
}

#article{
  border: 1px solid;
}

#footer{
  border: 1px solid;
  grid-column: 1 / span 2;
  background-color: rgba(0, 0, 0, 0.377);
}